.header {
  background: #111;
  border-bottom: 1px solid #333;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav a {
    margin-left: 20px;
  }
}
